body {
    background-color:grey;
}

.p1{
    color:yellow; 
    background-color:green;
}

.p2{
    background-color:indigo;
    color:orange;
}

.p3{
    background-color:yellow;
    color:orange;
}

h1{
    font-style:italic; 
    color:bluevioletl;
}