body {
    background-color: black;
    border: 3px solid pink ;
    border-radius:2%;
    margin: 25px;  
    padding: 20px;
}

h1{
    font-style:italic;
    font-weight: 200px;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

p{
    border: 5px solid pink; 
    text-align: center;
}
.p1{
    color:white; 
    background-color:orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.p2{
    background-color:indigo;
    color:orange;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}

.p3{
    background-color:indigo;
    color:orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100%;

}

.p4{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}